.page-head>.input-group {
    margin: 5px;
}
.page-head>.pull-right span{
    display: inline-block;
}
.page-head .form-control{
    margin-top: -10px;
    border-radius: 5%;
}
.excelStudentScore{
    margin: 10px;
}