.page-head>.input-group {
    margin: 5px;
}
.page-head>.pull-right span{
    display: inline-block;
}
.page-head .form-control{
    margin-top: -10px;
    border-radius: 5%;
}
.excelStudentScore{
    margin: 10px;
}
/* .fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
}

.fileinput-button input{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
} */